

.itemContainer {
    margin-top: 50px !important;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 39px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -8px rgba(0,0,0,0.75);
}

.close_button_style {
    width: 35px;
    height: 35px;
}

.close_button_style p{
    line-height: 19px;
    margin-left: ;
}